<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PanLogic Solution Team</title>
</head>
<body>
    <header>
        We are watching you by the your camera 
    </header>
    <h1>Home || Rent PG website</h1>
    
    <div class="nav-menu-btn">
        <i class="bx-bx-menu" onclick="myMenuFunction()"></i>


    </div> <div class="wrapper">
<nav class="nav">
    <div class="nav-logo">
        <p>RENT</p>
    </div>
    <div class="nav-menu" id="navMenu">
        <ul>
            <li><a href="#" class="link active">Home</a></li>
            <li><a href="#" class="link">Find Room</a></li>
            <li><a href="#" class="link">Room Analysis</a></li>
            <li><a href="#" class="link">Booking</a></li>
            <li><a href="#" class="link">Feedback and Rating</a></li>
        </ul>

    </div>
     <div class="nav-button">
        <button class="btn btn-light" id="loginBtn" onclick="login()">Sign In</button>
        <button class=" btn btn-light" id="registerBtn" onclick="register()">Sign Up</button>
    </div> 
</nav>

<!-- login form box -->
<div class="form-box">
    <div class="login-container" id="login" >
       <div class="top">
        <span>Don't Have an account?<a href="#" onclick="register()">Sign Up</a></span>
        <header>Login</header>
       </div>
      <div class="input-box" >
            <input type="text" class="input-field" placeholder="Username or Email">
            <i class='bx bx-envelope'></i>
           </div>
          <div class="input-box">
            <input type="password" class="input-field" placeholder="Password">
            <i class="bx bx-lock-alt"></i>
         </div>
         <div class="input-box">
            <input type="submit" class="submit" value="Sign In">
         </div>
     <div class="two-col">
        <div class="one">
            <input type="checkbox" id="login-check">
            <label for="login-check">Remember Me</label>
        </div>
        <div class="two">
            <label><a href="#">Forgot Password</a></label>
        </div>
</div>
       </div>
<!-- registration form -->
        <div class="register-container" id="register">
            <div class="top">
                <span>Have an account?<a href="#" onclick="login()">Login</a></span>
                <header>Sign Up</header>
            </div>
            <div class="two-forms">
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="FirstName">
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="LastName">
                    <i class="bx bx-user"></i>
                </div>

                    </div> 
              <div class="input-box">
          <input type="text" class="input-field" placeholder="Email">
           <i class="bx bx-envelope"></i>
              
           <!-- <div class="input-box"> -->
            <input type="password" class="input-field" placeholder="Password">
            <i class="bx bx-lock-alt"></i>
        <!-- </div>  -->
        </div>
        
        
        <div class="input-box">
            <input type="submit" class="submit" value="Register">
            </div>
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="register">
                    <label for="register-check">Remember Me  &nbsp;</label>
                </div>
            <div class="two">
            <label><a href="#">Terms&Condition</a></label>
</div>
        </div>
    </div>
 </div>
</div>

<!-- Find Room -->
<form>
    <h2>Find Your Next Stay</h2>
    <div class="container1">
       
        <div class="input">
            <input type="text" placeholder="location">
            <i class='bx bx-location-plus'></i>
        </div>
        <div class="input">
            <input type="text" placeholder="type">
            <i class='bx bx-home' ></i>
        </div>
        <div class="input">
            <input type="text" placeholder="budget">
            <i class='bx bx-money-withdraw'></i>
        </div>
        <div class="input search">
            <input type="submit" value="Search now">

        </div>
    </div>
</form>  
</body>
</html>